@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);
/* global styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\000032}}
.dpt {
  font-family: "Roboto";
  color: #474C57;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\000036}}
.dpt a {
  color: #2CC5C6;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\0000310}}
.dpt a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\0000315}}
.dpt .app-content {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\0000324}}
.dpt.has-sidebar-right .app-content {
  background-image: none;
  background-color: #FAFAFA;
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\000031}}
.header {
  min-height: 66px;
  background-color: #353942;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\000036}}
.header .navbar-brand {
  color: #FAFAFA;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000313}}
.header .header__notifications {
  background-color: #FF3F40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000316}}
.header .header__notifications .btn {
  width: 70px;
  color: #FAFAFA;
  min-height: 64px;
  line-height: 62px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000322}}
.header .header__notifications .btn i {
  font-size: 20px;
}

@media screen and (min-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000332}}
  .header .navbar-brand {
    margin: 5px 0px 0px 35px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\000031}}
.sidebar {
  background-color: #353942;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\000034}}
.sidebar .sidebar__logo {
  background-color: #2CC5C6;
  margin-bottom: 0px;
  min-height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\000039}}
.sidebar .sidebar__logo img {
  width: 60%;
  margin: 0 0 0 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000315}}
.sidebar .sidebar__update {
  padding: 15px 0px;
  background-color: #35abb0;
  color: #FAFAFA;
  text-align: center;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000322}}
.sidebar .sidebar__update i {
  color: #FAFAFA;
  font-size: 20px;
  float: right;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000329}}
.sidebar .sidebar__update .icon-number {
  color: #35abb0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000333}}
.sidebar .sidebar__update .sidebar__updateText {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000338}}
.sidebar .list-group {
  margin: 20px 0px 30px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000342}}
.sidebar .list-group-header {
  color: #000000;
  font-size: 13px;
  margin: 0 0 5px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000352}}
.sidebar .list-group-item {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  background-color: #353942;
  border-bottom: none;
  color: #656b79;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000362}}
.sidebar .list-group-item i {
  font-size: 20px;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000367}}
.sidebar .list-group-item .icon-number {
  float: right;
  background-color: #FF3F40;
  color: #FAFAFA;
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000374}}
.sidebar .list-group-item:hover {
  background-color: #474C57;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000379}}
.sidebar .list-group-item:focus {
  background-color: #474C57;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000384}}
.sidebar .list-group-item.active {
  background-color: #474C57;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000391}}
.sidebar .sidebar__footer {
  position: absolute;
  bottom: 0px;
  background-color: #2d3037;
  width: 100%;
  z-index: 1000;
  min-height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000399}}
.sidebar .sidebar__footer .sidebar__footerRight,
.sidebar .sidebar__footer .sidebar__divider,
.sidebar .sidebar__footer .sidebar__footerLeft {
  float: left;
  font-size: 25px;
  line-height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\00003106}}
.sidebar .sidebar__footer .sidebar__footerRight,
.sidebar .sidebar__footer .sidebar__footerLeft {
  width: 49%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\00003112}}
.sidebar .sidebar__footer .sidebar__divider {
  color: #000000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\000031}}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 400px;
  width: calc(100% - 2em);
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000311}}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #aaa;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000325}}
.input__field:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000329}}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000345}}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000354}}
.icon {
  color: #ddd;
  font-size: 150%;
}

/* Hideo */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000360}}
.input--hideo {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000365}}
.input__field--hideo {
  padding: 0.85em 0.85em 0.85em 3em;
  width: 100%;
  background: transparent;
  -webkit-transform: translate3d(1em, 0, 0);
  transform: translate3d(1em, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000375}}
.input__label--hideo {
  position: absolute;
  padding: 1.2em 1em;
  width: 4em;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000381}}
.input__label--hideo .fa-lock {
  font-size: 175%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000386}}
.input__label--hideo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 4em;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003101}}
.icon--hideo {
  color: #353942;
  -webkit-transform: scale3d(1, 1, 1);
  /* Needed for Chrome bug */
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003111}}
.input__label-content--hideo {
  position: absolute;
  top: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003116}}
.input__field--hideo:focus {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003121}}
.input__field--hideo:focus + .input__label--hideo::before {
  -webkit-transform: scale3d(0.8, 1, 1);
  transform: scale3d(0.8, 1, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003126}}
.input__field--hideo:focus + .input__label--hideo .icon--hideo {
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
}

/* Hoshi */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003133}}
.input--hoshi {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003137}}
.input__field--hoshi {
  margin-top: 1em;
  padding: 0.85em 0.15em;
  width: 100%;
  background: transparent;
  color: #595F6E;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003145}}
.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003156}}
.input__label-content--hoshi {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003160}}
.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003171}}
.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003180}}
.input__label--hoshi-color-1::after {
  border-color: #00aaff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003184}}
.input__label--hoshi-color-2::after {
  border-color: #00ffaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003188}}
.input__label--hoshi-color-3::after {
  border-color: #ff5500;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003192}}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003198}}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
/* Jiro */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003241}}
.input--jiro {
  margin-top: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003245}}
.input__field--jiro {
  padding: 0.85em 0.5em;
  width: 100%;
  background: transparent;
  color: #DDE2E2;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003255}}
.input__label--jiro {
  position: absolute;
  left: 0;
  padding: 0 0.85em;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003265}}
.input__label-content--jiro {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003270}}
.input__label--jiro::before,
.input__label--jiro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003282}}
.input__label--jiro::before {
  border-top: 2px solid #6a7989;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003290}}
.input__label--jiro::after {
  z-index: -1;
  background: #6a7989;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003299}}
.input__field--jiro:focus,
.input--filled .input__field--jiro {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003306}}
.input__field--jiro:focus + .input__label--jiro .input__label-content--jiro,
.input--filled .input__label-content--jiro {
  -webkit-transform: translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003314}}
.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003320}}
.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003326}}
.input__field--jiro:focus + .input__label--jiro::after,
.input--filled .input__label--jiro::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* Isao */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003337}}
.input__field--isao {
  z-index: 10;
  padding: 0.75em 0.1em 0.25em;
  width: 100%;
  background: transparent;
  color: #afb3b8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003345}}
.input__label--isao {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  color: #dadada;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003354}}
.input__label--isao::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 7px;
  background: #dadada;
  -webkit-transform: scale3d(1, 0.4, 1);
  transform: scale3d(1, 0.4, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003371}}
.input__label--isao::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em 0.15em;
  color: #da7071;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003388}}
.input__field--isao:focus + .input__label--isao::before {
  background-color: #da7071;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003394}}
.input__field--isao:focus + .input__label--isao {
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003398}}
.input__field--isao:focus + .input__label--isao::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003404}}
.input__label-content--isao {
  padding: 0.75em 0.15em;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003412}}
.input__field--isao:focus + .input__label--isao .input__label-content--isao {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\000031}}
.btn-primary {
  background-color: #FF3F40;
  color: #FAFAFA;
  border-radius: 0;
  border-color: #FF3F40;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\000038}}
.btn-primary:hover {
  background-color: #FF3F40;
  border-color: #FF2100;
  color: #FAFAFA;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #B1200B), color-stop(100%, #FF2100));
  background: -webkit-linear-gradient(top, #B1200B, #FF2100);
  background: linear-gradient(to bottom, #b1200b, #ff2100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\0000317}}
.btn-primary:focus {
  background-color: #FF3F40;
  border-color: #FF3F40;
  color: #FAFAFA;
  outline: none;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #B1200B), color-stop(100%, #FF2100));
  background: -webkit-linear-gradient(top, #B1200B, #FF2100);
  background: linear-gradient(to bottom, #b1200b, #ff2100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\0000327}}
.btn-primary[disabled='disabled'] {
  background-color: #eeeeee;
  outline: none;
  border-color: #eeeeee;
  color: #666363;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #fff, #dcdcdc);
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_icons\.scss}line{font-family:\000031}}
.icon-number {
  background: #FAFAFA;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #35abb0;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\000031}}
.signin {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(235, 235, 235, 0.8);
  margin-top: 50px;
  padding: 30px;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\000039}}
.signin .signin__logo {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000312}}
.signin .signin__logo img {
  display: block;
  width: 45%;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000321}}
.signin .signin__form .input {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000327}}
.signin .signin__form .signin__button {
  width: 100%;
  margin: 0 auto;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000335}}
.signin .signin__register {
  margin-top: 25px;
}

@media screen and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000342}}
  .signin {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000348}}
  .signin {
    width: 45%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\000032}}
.profile .profile__header {
  background: url("../img/profile.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
  height: 250px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/_mixins\.scss}line{font-family:\0000310}}
.profile .profile__header:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000316}}
.profile .profile__img,
.profile .profile__stats {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000321}}
.profile .profile__img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000325}}
.profile .profile__img img {
  width: 150px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000331}}
.profile .profile__stats {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000336}}
.profile .profile__stats .profile__name {
  font-size: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000340}}
.profile .profile__stats .profile__level,
.profile .profile__stats .profile__bodyFat,
.profile .profile__stats .profile__classes {
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000348}}
.profile .profile__stats .profile__level span,
.profile .profile__stats .profile__bodyFat span,
.profile .profile__stats .profile__classes span {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: lowercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000360}}
.profile .profile__form .input {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_profile\.scss}line{font-family:\0000364}}
.profile .profile__form .btn {
  width: 40%;
  margin: 20px 0 0 20px;
}
