@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);
/* global styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\000032}}
.dpt {
  font-family: "Roboto";
  color: #474C57;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\000036}}
.dpt a {
  color: #2CC5C6;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\0000310}}
.dpt a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\0000315}}
.dpt .app-content {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_global\.scss}line{font-family:\0000324}}
.dpt.has-sidebar-right .app-content {
  background-image: none;
  background-color: #FAFAFA;
  margin-top: 15px;
  padding: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\000031}}
.header {
  min-height: 66px;
  background-color: #353942;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\000035}}
.header .navbar-brand {
  color: #FAFAFA;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000312}}
.header .header__notifications {
  background-color: #FF3F40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000315}}
.header .header__notifications .btn {
  width: 70px;
  color: #FAFAFA;
  min-height: 64px;
  line-height: 62px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000321}}
.header .header__notifications .btn i {
  font-size: 20px;
}

@media screen and (min-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000331}}
  .header .navbar-brand {
    margin: 5px 0px 0px 35px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\000031}}
.sidebar {
  background-color: #353942;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\000034}}
.sidebar .sidebar__logo {
  background-color: #2CC5C6;
  margin-bottom: 0px;
  min-height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\000039}}
.sidebar .sidebar__logo img {
  width: 60%;
  margin: 0 0 0 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000315}}
.sidebar .sidebar__update {
  padding: 15px 0px;
  background-color: #35abb0;
  color: #FAFAFA;
  text-align: center;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000322}}
.sidebar .sidebar__update i {
  color: #FAFAFA;
  font-size: 20px;
  float: right;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000329}}
.sidebar .sidebar__update .icon-number {
  color: #35abb0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000333}}
.sidebar .sidebar__update .sidebar__updateText {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000338}}
.sidebar .list-group {
  margin: 20px 0px 30px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000342}}
.sidebar .list-group-header {
  color: #000000;
  font-size: 13px;
  margin: 0 0 5px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000352}}
.sidebar .list-group-item {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
  background-color: #353942;
  border-bottom: none;
  color: #656b79;
  padding: 20px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000362}}
.sidebar .list-group-item i {
  font-size: 20px;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000367}}
.sidebar .list-group-item .icon-number {
  float: right;
  background-color: #FF3F40;
  color: #FAFAFA;
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000374}}
.sidebar .list-group-item:hover {
  background-color: #474C57;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000379}}
.sidebar .list-group-item:focus {
  background-color: #474C57;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000384}}
.sidebar .list-group-item.active {
  background-color: #474C57;
  color: #FAFAFA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000391}}
.sidebar .sidebar__footer {
  position: absolute;
  bottom: 0px;
  background-color: #2d3037;
  width: 100%;
  z-index: 1000;
  min-height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\0000399}}
.sidebar .sidebar__footer .sidebar__footerRight,
.sidebar .sidebar__footer .sidebar__divider,
.sidebar .sidebar__footer .sidebar__footerLeft {
  float: left;
  font-size: 25px;
  line-height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\00003106}}
.sidebar .sidebar__footer .sidebar__footerRight,
.sidebar .sidebar__footer .sidebar__footerLeft {
  width: 49%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/layout\/_sidebar\.scss}line{font-family:\00003112}}
.sidebar .sidebar__footer .sidebar__divider {
  color: #000000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\000031}}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 400px;
  width: calc(100% - 2em);
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000311}}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #aaa;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000325}}
.input__field:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000329}}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000345}}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000354}}
.icon {
  color: #ddd;
  font-size: 150%;
}

/* Hideo */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000360}}
.input--hideo {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000365}}
.input__field--hideo {
  padding: 0.85em 0.85em 0.85em 3em;
  width: 100%;
  background: transparent;
  -webkit-transform: translate3d(1em, 0, 0);
  transform: translate3d(1em, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000375}}
.input__label--hideo {
  position: absolute;
  padding: 1.2em 1em;
  width: 4em;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000381}}
.input__label--hideo .fa-lock {
  font-size: 175%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\0000386}}
.input__label--hideo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 4em;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003101}}
.icon--hideo {
  color: #353942;
  -webkit-transform: scale3d(1, 1, 1);
  /* Needed for Chrome bug */
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003111}}
.input__label-content--hideo {
  position: absolute;
  top: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003116}}
.input__field--hideo:focus {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003121}}
.input__field--hideo:focus + .input__label--hideo::before {
  -webkit-transform: scale3d(0.8, 1, 1);
  transform: scale3d(0.8, 1, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_forms\.scss}line{font-family:\00003126}}
.input__field--hideo:focus + .input__label--hideo .icon--hideo {
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\000031}}
.btn-primary {
  background-color: #FF3F40;
  color: #FAFAFA;
  border-radius: 0;
  border-color: #FF3F40;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\000038}}
.btn-primary:hover {
  background-color: #FF3F40;
  border-color: #FF2100;
  color: #FAFAFA;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #B1200B), color-stop(100%, #FF2100));
  background: -webkit-linear-gradient(top, #B1200B, #FF2100);
  background: linear-gradient(to bottom, #b1200b, #ff2100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\0000317}}
.btn-primary:focus {
  background-color: #FF3F40;
  border-color: #FF3F40;
  color: #FAFAFA;
  outline: none;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #B1200B), color-stop(100%, #FF2100));
  background: -webkit-linear-gradient(top, #B1200B, #FF2100);
  background: linear-gradient(to bottom, #b1200b, #ff2100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_buttons\.scss}line{font-family:\0000327}}
.btn-primary[disabled='disabled'] {
  background-color: #eeeeee;
  outline: none;
  border-color: #eeeeee;
  color: #666363;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #fff, #dcdcdc);
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/common\/_icons\.scss}line{font-family:\000031}}
.icon-number {
  background: #FAFAFA;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #35abb0;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\000031}}
.signin {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(235, 235, 235, 0.8);
  margin-top: 50px;
  padding: 30px;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\000039}}
.signin .signin__logo {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000312}}
.signin .signin__logo img {
  display: block;
  width: 45%;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000321}}
.signin .signin__form .input {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000327}}
.signin .signin__form .signin__button {
  width: 100%;
  margin: 0 auto;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000335}}
.signin .signin__register {
  margin-top: 25px;
}

@media screen and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000342}}
  .signin {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/lauravecchio\/Desktop\/dpt-athletics\/src\/assets\/sass\/user\/_signin\.scss}line{font-family:\0000348}}
  .signin {
    width: 45%;
  }
}
