.sidebar {
  background-color: $color-dark;

  .app-name {
    background-color: $color-white;
    border-bottom: 1px solid $color-dark;

    .logo {
      width: 60%;
      margin: 0px 0px 0px 45px;
    }
  }

  // nav items
  .list-group-item {

    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;

    &.active {
      background-color: $color-orange;
      border-color: $color-orange;
    }

  }

}
