/* global styles */
.dpt {
  font-family: $font-primary;
  color: $text-color;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .app-content {
    background:url($site-background) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
  }

  &.has-sidebar-right .app-content {
    background-image: none;
    background-color: $color-white;
    margin-top: 15px;
  }
}
