.header {
  min-height: 66px;
  background-color: $color-dark-grey;

  .navbar-brand {
    color: $color-white;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 0px;
  }

  .header__notifications {
    background-color: $color-orange;

    .btn {
      width: 70px;
      color: $color-white;
      min-height: 64px;
      line-height: 62px;

      i {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 850px) {

  .header {
    .navbar-brand {
      margin: 5px 0px 0px 35px;
    }
  }
}
