.sidebar {
  background-color: $color-dark-grey;

  .sidebar__logo {
    background-color: $color-teal;
    margin-bottom: 0px;
    min-height: 65px;

    img {
      width: 60%;
      margin: 0 0 0 45px;
    }
  }

  // nav items
  .list-group-item {

    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    background-color: $color-dark-grey;
    border-bottom: none;
    color: $color-light-grey;

    &:hover {
      background-color: rgba(53, 57, 66, 0.8);
      color: $color-white;
    }

    &:focus {
      background-color: rgba(53, 57, 66, 0.8);
      color: $color-white;
    }

    &.active {
      background-color: rgba(53, 57, 66, 0.5);
      color: $color-white;
    }

  }

}
