<!-- begin: main app container  -->
<div class="app">

  <!-- begin: app-body -->
  <div class="app-body" ng-class="{loading: loading}">
    <div ng-show="loading" class="app-content-loading">
      <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>

    <!-- begin: app-content (all HTML for the state should go here) -->
    <div class="app-content">

      <!-- begin: login -->
      <div class="login">
        <div class="section">

          <form role="form" ng-submit='register.createUser()'>
            <fieldset>
              <div class="form-group has-success has-feedback">
                <label>Email</label>
                <input type="email" ng-model="register.email" class="form-control" placeholder="Enter email">
              </div>

              <div class="form-group">
                <label>Password</label>
                <input type="password" ng-model="register.password" class="form-control" placeholder="Password">
              </div>

            </fieldset>
            <hr>

            <button class="btn btn-primary btn-block">Create User</button>

          </form>

        </div>
      </div>
      <!-- end: login -->

    </div>
    <!-- end: app-content -->

  </div>
  <!-- end: app-body -->

</div>
<!-- end: main app container -->
