.icon-number {
  background: $color-white;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #35abb0;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}
