body {
  font-family: "Roboto";
  color: $color-gray;
}

a {
  color: $color-orange;
  text-decoration: none;
}
.app-content {
  background:url(../../assets/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}

.card {
  background:white;
  margin: 20px 30px; //TODO: use ems
  opacity: 0.95;
  border-radius: 0.5em;
  padding-top: 10px;
}

.card--measurements {
  overflow: scroll;
  height: 500px;
}
