// theme colors
$color-orange:          #FF3F40;
$color-teal:            #2BDCCD;
$color-gray:            #33363C;
$color-dark:            #22262B;
$color-white:           #FFFFFF;

// font colors
$text-color: $color-gray;
$link-color: $color-orange;

// backgrounds
$site-background: '../img/bg.jpg';

// fonts
$font-primary: 'Roboto';
$font-secondary: '';



