// theme colors
$color-orange:          #FF3F40;
$color-light-grey-teal: #527986;
$color-dark-grey-teal:  #3E5A66;
$color-teal:            #2CC5C6;
$color-light-grey:      #474C57;
$color-dark-grey:       #353942;
$color-white:           #FAFAFA;

// font colors
$text-color: $color-light-grey;
$link-color: $color-teal;
$nav-link-color: #656b79;

// backgrounds
$site-background: '../img/bg.jpg';

// fonts
$font-primary: 'Roboto';
$font-secondary: '';



